@import './fonts';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header_container{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    align-items: center;
    display: flex;
    .logo{
        img{
            cursor: pointer;
        }
    }
    .text{
        display: flex;
        align-items: center;
        gap:7px;
        i{
            color: #FFB30E;
            cursor: pointer;
            font-size: 18px;
        }
        b{
            font-family:'Open Sans';
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            text-align: center;
            color: #424242;
            // width: 83px;
            height: 18px;
        }
        p{
            //styleName: Subtitle 1;
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 400;
            line-height: 25.2px;
            text-align: center;
            color: #424242;
        }
    }
    .login{
        display: flex;
        align-items: center;
        margin-left:60px;
        p{
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            text-align: center;
            color: #424242;
        }
        i{
            cursor: pointer;
            color: #FFB30E;
            margin-right: 8px;
            font-size: 18px;
        }
        button{
            margin-left: 10px;
            color: #FFB800;
            display: flex;
            padding:14px 24px;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 20px 40px 0px #FFAE004A;
            box-shadow: 0px 5px 10px 0px #FFAE0042;
            cursor: pointer;
        }
    }
}
.main{
    background-image: url(../img/Group\ 1\ 1.png);
}
.main_container{
    height: 620px;
    h1{
        padding-top: 132px;
        color: #fff;
        font-family:'Open Sans';
        font-size: 88px;
        font-weight: 700;
        line-height: 88px;
        margin-bottom:15px;
    }
    .paragref{
        font-family:'Open Sans';
        font-size: 22px;
        font-weight: 400;
        line-height: 26.4px;
        color: #504F4F;
        margin-bottom: 32px;
    }
    .main_card{
        width:856px;
        height:194.44px;
        border-radius: 16px;
        box-shadow: 0px 20px 40px 0px #FFAE004A;
        box-shadow: 0px 5px 10px 0px #FFAE0042;
        background-color: #fff;
        padding: 24px;
        .flex{
            display: flex;
        }
        .deliver{
            width: 148px;
            height:38px;
            padding: 10px 24px 10px 24px;
            border-radius: 8px;
            opacity: 0px;
            background: #F172281A;
            color: #F17228;
            font-size: 18px;
            margin-right: 8px;
        }
        .pickup{
            width: 129px;
            height:38px;
            padding: 10px 24px 10px 24px;
            gap: 10px;
            color: #757575;
            font-size: 18px;
        }
        .tiziq{
            height: 1px;
            margin-top:24px;
            margin-bottom:24px;
            background-color: #eee;
        }
    }
    .form{
        .lokatsiya{
            position: absolute;
            left:220px;
            top:550px;
            color: #FF7474;
            cursor: pointer;
            font-size:24px;
        }
        input{
            width:593px;
            height:49px;
            padding: 7px 0px 8px 16px;
            gap: 12px;
            border-radius: 8px;
            border: none;
            background-color: #F5F5F5;
            color: #9E9E9E;
            font-size: 18px;
            margin-right: 16px;
        }
        button{
            font-size: 18px;
            background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
            border: none;
            border-radius: 8px;
            padding: 23px 30px;
            color: #fff;
            cursor: pointer;
        }
    }
}
.cards{
    display: flex;
    gap: 16px;
}
.card{
    margin-top: 80px;
    img{
        cursor: pointer;
        width: 310.91px;
        height: 301px;
        border-radius: 16px;
    }
    p{
        font-family:'Open Sans';
        margin-bottom: 14px;
        font-size: 22px;
        font-weight: 700;
        line-height: 26.4px;
        color: #424242;
        margin-top: 32px;
    }
    button{
        border: none;
        cursor: pointer;
        width: 205px;
        height:42px;
        padding: 8px 16px 8px 16px;
        gap: 10px;
        border-radius: 8px;
        background: #F1722833;
        color: #F17228;
        font-size: 22px;
    }
}